.text-blue-10 {
  color: #003366;
}
.bg-blue-1 {
  background-color: #eaf0f6;
}
.bg-brown-4 {
  background-color: #eab676;
}
.q-btn {
  font-weight: bold;
}

.full-header {
  min-height: 60px;
}
.header-institucional {
  background-color: #eab676 !important;
  color: #003366 !important;
  width: 100%;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usuario-area {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.9rem;
  color: #333;
}

.user-icon {
  font-size: 1.2rem;
  color: #007bff;
}

.user-info {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-left: -0.70rem; /* ajusta la cercanía al ícono */
}

.username {
  font-weight: bold;
}

.ueb {
  font-style: italic;
  color: #555;
}

.logout-btn {
  margin-left: 1rem;
  background-color: #c0392b;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85rem;
}

.logout-btn:hover {
  background-color: #a93226;
}

.usuario-area i {
  font-size: 18px;
  color: #003366;
}

.usuario-area span {
  font-weight: 500;
  color: #003366;
  margin-left: 0.4rem;
  margin-right: 1rem;
}

.usuario-area button {
  background-color: #703d03;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.user-circle {
  background-color: #e6d8cb; /* color institucional */
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-institucional {
  max-width: 220px;
  margin-top: 100px;
}

.texto-institucional {
  margin-top: 20px;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bold;
  color: green; /* Color institucional Tabacuba */
  text-align: center;
}

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  cursor: ew-resize;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 10;
}

/* Estilos jerárquicos por nivel */
.menu-level-0 .q-item__section,
.menu-level-0 .q-expansion-item__header {
  padding-left: 0px !important;
  background-color: #f8f9fa;
}

.menu-level-1 .q-item__section,
.menu-level-1 .q-expansion-item__header {
  padding-left: 12px !important;
  background-color: #e9ecef;
}

.menu-level-2 .q-item__section,
.menu-level-2 .q-expansion-item__header {
  padding-left: 24px !important;
  background-color: #dee2e6;
}

.menu-level-3 .q-item__section,
.menu-level-3 .q-expansion-item__header {
  padding-left: 36px !important;
  background-color: #ced4da;
}

.menu-level-4 .q-item__section,
.menu-level-4 .q-expansion-item__header {
  padding-left: 48px !important;
  background-color: #adb5bd;
}

.menu-level-5 .q-item__section,
.menu-level-5 .q-expansion-item__header {
  padding-left: 48px !important;
  background-color: #adb5bd;
}

.menu-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon-size {
  font-size: 50px;
}

.drawer-content {
  overflow-y: auto;
  height: 100%;
}

/* Scroll fino */
.drawer-content::-webkit-scrollbar {
  width: 6px;
}

.drawer-content::-webkit-scrollbar-track {
  background: transparent;
}

.drawer-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

