.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366;
  color: white;
  padding: 0.75rem 1.5rem;
}*/

.header {
  flex-wrap: wrap;
  gap: 0.5rem;
}

.branding {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*.logo {
  width: 50px;
  height: auto;
}

.empresa {
  font-weight: bold;
  font-size: 1rem;
}*/

.logo {
  width: 40px;
}
.empresa {
  font-size: 0.95rem;
}

.session {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*.logout-btn {
  background-color: #005fa3;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}*/

.logout-btn {
  background-color: #cc0000;
  font-weight: bold;
}
.logout-btn:hover {
  background-color: #990000;
}


.layout-body {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 1.5rem;
  background-color: #f4f4f4;
  overflow-y: auto;
}

